html5_resizer-for-GMS1/*

html5_resizer-for-GMS2/*
!html5_resizer-for-GMS2/assetpackage.yy

html5_resizer-for-GMS2.3+/*
!html5_resizer-for-GMS2.3+/html5_resizer_23.yyp
!html5_resizer-for-GMS2.3+/metadata.json